# ======================
# Java / Spring Boot
# ======================
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log
*.iml

# ======================
# Maven
# ======================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.backup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ======================
# IDE / Editor
# ======================
# IntelliJ IDEA
.idea/
*.iws
*.ipr
out/

# ======================
# OS / System
# ======================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.env.local
*.pid

# ======================
# Spring Boot Configuration
# ======================
application.properties
.env

# ======================
# Sensitive Data
# ======================
*.key
*.pem
*.pfx
*.p12
secrets/
credentials/


# ======================
# Misc
# ======================
*.bak
*.tmp
.cache/
.m2/
*.orig
.rej
